In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df={
    'Item':['Sofa', 'Dinning Table', 'Chair', 'Sofa', 'Chair', 'Dinning Table'],
    'Material':['Wooden', 'Plywood', 'Plastic', 'Stainless Steel', 'Wooden', 'Aluminium'],
    'Colour':['Maroon', 'Yellow', 'Red', 'Silver', 'Light Blue', 'Golden'],
    'Price':[25000, 20000, 1500, 55000, 2500, 65000]
}

In [3]:
df

{'Item': ['Sofa', 'Dinning Table', 'Chair', 'Sofa', 'Chair', 'Dinning Table'],
 'Material': ['Wooden',
  'Plywood',
  'Plastic',
  'Stainless Steel',
  'Wooden',
  'Aluminium'],
 'Colour': ['Maroon', 'Yellow', 'Red', 'Silver', 'Light Blue', 'Golden'],
 'Price': [25000, 20000, 1500, 55000, 2500, 65000]}

In [4]:
data = pd.DataFrame(df)

In [5]:
data

            Item         Material      Colour  Price
0           Sofa           Wooden      Maroon  25000
1  Dinning Table          Plywood      Yellow  20000
2          Chair          Plastic         Red   1500
3           Sofa  Stainless Steel      Silver  55000
4          Chair           Wooden  Light Blue   2500
5  Dinning Table        Aluminium      Golden  65000

# a) Display the details of the chair and sofa.

In [10]:
data[data['Item']=='Chair']

    Item Material      Colour  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

# b) Display furniture details which price is more than 25000.

In [11]:
data[data['Price']>25000]

            Item         Material  Colour  Price
3           Sofa  Stainless Steel  Silver  55000
5  Dinning Table        Aluminium  Golden  65000

# c) Display the furniture details price under 10000.

In [12]:
data[data['Price']<10000]

    Item Material      Colour  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

# d) Display alternative rows.

In [13]:
data.iloc[::2,:]

    Item Material      Colour  Price
0   Sofa   Wooden      Maroon  25000
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500